.destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;

  h5 {
    margin: 20px 0 35px 140px;
  }
}
